@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  /* Colors */
  --main-violet: hsl(257, 40%, 49%);
  --light-magenta: hsl(300, 69%, 71%);

  /* Typography */
  --heading-font: "Poppins";
  --body-font: "Open Sans";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-violet);
}

.container {
  margin: 0 auto;
  padding: 50px;
  max-width: 1440px;
  height: 100vh;
  background: url("/images/bg-desktop.svg");
  background-color: var(--main-violet);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin-top: 10px;
  margin-bottom: 130px;
}

.illustration img {
  width: 100%;
}

.main-text {
  max-width: 500px;
  margin: 30px auto;

  color: white;
}

.main-text p {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 1.1rem;
  margin: 25px 0;
  line-height: 1.9;
}

h1 {
  font-family: var(--heading-font);
  font-size: 2.5rem;
  font-weight: 600;
}

.cta {
  width: 180px;
  padding: 15px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: var(--main-violet);
  font-size: 1rem;
  font-family: var(--heading-font);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s all;
}

.cta:hover {
  background-color: var(--light-magenta);
  color: white;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.fab {
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s all;
}

.fab:hover {
  color: var(--light-magenta);
  border: 1px solid var(--light-magenta);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* Media Queries */
@media (min-width: 651px) and (max-width: 1364) {
  .main-text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 30px;
  }
}
@media screen and (max-width: 750px) {
  .container {
    background: url("/images/bg-mobile.svg");
    background-color: var(--main-violet);
    background-repeat: no-repeat;
    padding: 35px;
  }
  header {
    margin-top: 0;
    margin-bottom: 50px;
  }
  #logo {
    max-width: 45%;
  }

  .illustration img {
    width: 100%;
    min-width: 200px;
  }

  .main-text {
    text-align: center;
  }

  .main-text h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
  }

  .main-text p {
    font-size: 0.92rem;
    margin: 25px 0;
    line-height: 1.9;
  }

  .cta {
    width: 200px;
    padding: 10px 0;
    font-size: 0.8rem;
  }

  .icon-container {
    justify-content: center;
  }

  .fab {
    padding: 7px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1350px) {
  .illustration {
    margin: auto;
  }

  .icon-container {
    justify-content: center;
    margin: 20px;
  }
}
